In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf



start = '2010-01-01'
end = '2019-12-31'

# Fetch data from Yahoo Finance using yfinance
df = yf.download('AAPL',start, end)
df.head()

[*********************100%***********************]  1 of 1 completed

Price      Adj Close     Close      High       Low      Open     Volume
Ticker          AAPL      AAPL      AAPL      AAPL      AAPL       AAPL
Date
2010-01-04  6.447413  7.643214  7.660714  7.585000  7.622500  493729600
2010-01-05  6.458559  7.656429  7.699643  7.616071  7.664286  601904800
2010-01-06  6.355828  7.534643  7.686786  7.526786  7.656429  552160000
2010-01-07  6.344076  7.520714  7.571429  7.466071  7.562500  477131200
2010-01-08  6.386256  7.570714  7.571429  7.466429  7.510714  447610800

start = '2010-01-01'
end = '2019-12-31'

# Fetch data from Yahoo Finance using yfinance
df = yf.download('AAPL',start, end)
df.head()