In [44]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf

In [3]:
start = '2010-01-01'
end = '2019-12-31'

# Fetch data from Yahoo Finance using yfinance
df = yf.download('AAPL',start, end)
df.head()

NameError: name 'yf' is not defined

In [1]:
df.tail()

NameError: name 'df' is not defined

In [14]:
df = df.reset_index()
df.head()

NameError: name 'df' is not defined

In [62]:
df =  df.drop(['Date','Adj Close'],axis = 1)
df.head()

C:\Users\nandk\AppData\Local\Temp\ipykernel_15168\3780723560.py:1: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  df =  df.drop(['Date','Adj Close'],axis = 1)

Price  index     Close      High       Low      Open     Volume
Ticker            AAPL      AAPL      AAPL      AAPL       AAPL
0          0  7.643214  7.660714  7.585000  7.622500  493729600
1          1  7.656429  7.699643  7.616071  7.664286  601904800
2          2  7.534643  7.686786  7.526786  7.656429  552160000
3          3  7.520714  7.571429  7.466071  7.562500  477131200
4          4  7.570714  7.571429  7.466429  7.510714  447610800

In [1]:
plt.plot(df.Close)

NameError: name 'plt' is not defined

In [2]:
df

NameError: name 'df' is not defined

In [70]:
ma100 = df.Close.rolling(100).mean()
ma100

Ticker       AAPL
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2510    59.201075
2511    59.401700
2512    59.643125
2513    59.875125
2514    60.106325

[2515 rows x 1 columns]

In [1]:
plt.figure(figsize = (12,6))
plt.plot(df.Close)
plt.plot(ma100,'r')

NameError: name 'plt' is not defined

In [74]:
ma200 = df.Close.rolling(200).mean()
ma200

Ticker       AAPL
0             NaN
1             NaN
2             NaN
3             NaN
4             NaN
...           ...
2510    54.132313
2511    54.261513
2512    54.396763
2513    54.529350
2514    54.661100

[2515 rows x 1 columns]

In [3]:
plt.figure(figsize = (12,6))
plt.plot(df.Close)
plt.plot(ma100,'r')
plt.plot(ma200,'g')

NameError: name 'plt' is not defined

In [78]:
df.shape

(2515, 6)

In [80]:
#Splitting data into training and testing

data_training = pd.DataFrame(df['Close'][0:int(len(df)*0.70)])
data_testing = pd.DataFrame(df['Close'][int(len(df)*0.70):int(len(df))])
print(data_training.shape)
print(data_testing.shape)

(1760, 1)
(755, 1)

In [104]:
data_training.head()

Ticker      AAPL
0       7.643214
1       7.656429
2       7.534643
3       7.520714
4       7.570714

In [84]:
data_testing.head()

Ticker       AAPL
1760    29.182501
1761    28.955000
1762    29.037500
1763    29.004999
1764    29.152500

In [86]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler(feature_range=(0,1))

In [5]:
data_training_array = scaler.fit_transform(data_training)
data_training_array
# data_training_array.shape

NameError: name 'scaler' is not defined

In [1]:
x_train = []
y_train = []

for i in range(100,data_training_array.shape[0]):
    x_train.append(data_training_array[i-100:i])
    y_train.append(data_training_array[i,0])

x_train

NameError: name 'data_training_array' is not defined

In [4]:
import sys
print(sys.executable)

c:\Users\nandk\AppData\Local\Programs\Python\Python313\python.exe